.App {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.title{
  text-align: center;
  font-size: 36px;
  padding-bottom: 40px;
}
.reminders{
  margin-top: 30px;
  font-size: 20px;
  padding: 5px;
}
li{
  list-style: none;
}
.list-item{
  display: inline-block;
}
.delete-button{
  float: right;
  cursor: pointer;
}

.clear-button{
  width: 20%;
  margin: auto;
}